root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 240
ij_any_spaces_around_equality_operators = true

[Makefile]
indent_style = tab

[*.{css, scss, yml, html, json}]
indent_size = 2
ij_html_quote_style = double
ij_javascript_use_double_quotes = true
ij_javascript_force_quote_style = true
