@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #2f343c;
}

@layer components {
  .small-title {
    @apply text-sm text-gray-500;
  }
}
.footer-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-actions .verified-text {
  font-weight: bold;
  font-size: 1.1em;
  color: #FFFFFF;
}

.footer-actions .verified-icon {
  font-size: 1.3em;
}